.game-container {
  height: 760px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--grey);
  border-radius: 0 0 0.5rem 0.5rem;
  position: relative;
}

.select-level {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.easy .board__cell {
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
}

.medium .board__cell {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
}

.board__row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.board__cell {
  width: 2rem;
  height: 2rem;
  background-color: rgb(0, 105, 0);
  font-size: 1.25rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
  transition: 0.5s;
}

.board__row:nth-child(odd) > .board__cell:nth-child(odd) {
  background-color: rgb(37, 121, 37);
}

.board__row:nth-child(even) > .board__cell:nth-child(even) {
  background-color: rgb(37, 121, 37);
}

.board__row:nth-child(even) > .show-cell:nth-child(even) {
  background-color: rgba(245, 245, 52, 0.705);
}

.board__row:nth-child(odd) > .show-cell:nth-child(odd) {
  background-color: rgba(245, 245, 52, 0.705);
}

.cell-bomb,
.cell-bomb__end {
  background-image: url("../assets/bomb.png");
  background-color: rgb(233, 39, 175) !important;
}

.cell-bomb__end {
  animation: scale 0.5s linear;
}

.cell-flag {
  background-image: url("../assets/flag.png");
}

.show-cell {
  background-color: rgba(245, 245, 52, 0.6);
}

@keyframes scale {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
