.game-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--grey);
  border-radius: 0 0 0.5rem 0.5rem;
  position: relative;
}

.select-level {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board {
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.easy .board__cell {
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
}

.medium .board__cell {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
}

.board__row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board__cell {
  width: 2rem;
  height: 2rem;
  background-color: rgb(0, 105, 0);
  font-size: 1.25rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
  transition: 0.5s;
  position: relative;
}

@media (max-width: 600px) {
  .board__cell {
    width: 100%;
  }
  .easy .board__cell {
    width: 100%;
  }
  
  .medium .board__cell {
    width: 100%;
  }
}

.board__row:nth-child(odd) > .board__cell:nth-child(odd) {
  background-color: rgb(37, 121, 37);
}

.board__row:nth-child(even) > .board__cell:nth-child(even) {
  background-color: rgb(37, 121, 37);
}

.board__row:nth-child(even) > .show-cell:nth-child(even) {
  background-color: rgba(245, 245, 52, 0.705);
}

.board__row:nth-child(odd) > .show-cell:nth-child(odd) {
  background-color: rgba(245, 245, 52, 0.705);
}

.cell-bomb,
.cell-bomb__end {
  background-image: url("../assets/bomb.png");
  background-color: rgb(233, 39, 175) !important;
}

.cell-bomb__end {
  animation: scale 0.5s linear;
}

.cell-flag {
  background-image: url("../assets/flag.png");
}

.show-cell {
  background-color: rgba(245, 245, 52, 0.6);
}

@keyframes scale {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.game-mode {
  display: none;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.game-mode__select {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.05)
  );
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgba(109, 109, 109, 0.363);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 1rem;
  margin: 1rem;
  padding: 2rem;
  cursor: pointer;
}

.game-mode__title {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0.75rem;
}

.game-mode__img {
  height: auto;
  max-width: 15rem;
}

.pulse {
  z-index: 1;
}

.pulse::after {
  position: absolute;
  content: "";
  background-color: red;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 4px solid orange;
  animation: pulse 2s linear infinite;
}

@keyframes pulse {
  from {
    opacity: 1;
    background-color: red;
    border-color: orange;
  }
  50% {
    opacity: 0.8;
    background-color: orange;
    border-color: red;
  }
  to {
    opacity: 1;
    background-color: red;
    border-color: orange;
  }
}

.pulse > .touch-button {
  display: block;
}
.pulse > .touch-button-flag {
  display: block;
}

.touch-button,
.touch-button-flag {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 0.25rem;
  animation: none;
  background-size: 100%;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  display: none;
  box-shadow: 1px 1px 1px rgb(148, 148, 148), -1px -1px 1px rgb(148, 148, 148);
}

.touch-button {
  left: calc(-100% - 0.5rem);
  bottom: 0.5rem;
  background-image: url("../assets/shovel.png");
}

.touch-button-flag {
  left: -0.5rem;
  bottom: calc((100% + 0.5rem));
  background-image: url("../assets/flag.png");
}

.touch-button__bottom {
  left: calc(100% + 0.5rem);
  bottom: -0.5rem;
}

.touch-button-flag__bottom {
  left: 0.5rem;
  bottom: calc((-100% - 0.5rem));
}

.touch-button__right {
  left: calc(-100% - 0.5rem);
  bottom: -0.5rem;
}

.touch-button-flag__right {
  left: -0.5rem;
  bottom: calc((-100% - 0.5rem));
}

.touch-button__left {
  left: calc(100% + 0.5rem);
  bottom: 0.5rem;
}

.touch-button-flag__left {
  left: 0.5rem;
  bottom: calc((100% + 0.5rem));
}
